{% extends 'app1/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
    <h1>Список задач:</h1>
    <form action="task1/">
        <button type="submit" name="popup-button">12.1 Поезд движется со скоростью  V; при торможении он получает замедление, равное a. Найти, за какое
            время до прихода поезда на станцию и на каком от нее расстоянии
            должно быть начато торможение.
        </button>
    </form>
    <form action="task2/">
        <button type="submit" name="popup-button">2.23 Котел с равномерно распределенным по длине весом Р и радиуса R лежит на выступах каменной
            кладки. Расстояние между стенками кладки L. Пренебрегая трением, наити давление котла на клалку в точках А и В.
        </button>
    </form>
    <form action="task3/">
        <button type="submit" name="popup-button">2.55 Водонапорная башня состонт из цилиндрического резервуара высоты h диаметра D, укрепленного на четырех симметрично расположенных столбах, наклонных к горизонту, дно резервуара находится на 
            высоте H над уровнем опор, вес баши P, давление ветра рассчитывается на площадь проекции
            поверхности резервуара на плоскость, перпендикулярную направлению ветра, причем удельное давление ветра принимается равным p.
            Определить необходимое расстояние АВ межу основаниями столбов.
        </button>
    </form>
{% endblock %}
