{% extends 'app1/base.html' %}
{% load static %}
{% block title %}
<title>Главная</title>

{% endblock %}

{% block content %}
    <h1 class="title"><span>Список задач:</span></h1>
<p>
    
    <form  action="task1/">
        <button class="form_1" type="submit" name="popup-button">12.1 Поезд движется со скоростью  V; при торможении он получает замедление, равное a. Найти, за какое
            время до прихода поезда на станцию и на каком от нее расстоянии
            должно быть начато торможение.
        </button>
    
    
    </form>
    <p>
    <form action="task2/">
        <button class="form_1" type="submit" name="popup-button">2.23 Котел с равномерно распределенным по длине весом Р и радиуса R лежит на выступах каменной
            кладки. Расстояние между стенками кладки L. Пренебрегая трением, наити давление котла на кладку в точках А и В.
        </button>
    </form>
    </p>
    <p>
    <form action="task3/">
        <button class="form_1" type="submit" name="popup-button">2.55 Водонапорная башня состоит из цилиндрического резервуара высоты h диаметра D, укрепленного на четырех симметрично расположенных столбах, наклонных к горизонту, дно резервуара находится на 
            высоте H над уровнем опор, вес башни G, давление ветра рассчитывается на площадь проекции
            поверхности резервуара на плоскость, перпендикулярную направлению ветра, причем удельное давление ветра принимается равным p.
            Определить необходимое расстояние АВ межу основаниями столбов.
        </button>
    </form>
    </p>
</p>
{% endblock %}
