{% extends 'app1/base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}
    <h1>Задача 2.55</h1>
    <h5>
        Водонапорная башня состонт из цилиндрического резервуара высоты h диаметра D, укрепленного на четырех симметрично расположенных столбах, наклонных к горизонту, дно резервуара находится на 
        высоте H над уровнем опор, вес баши P, давление ветра рассчитывается на площадь проекции
        поверхности резервуара на плоскость, перпендикулярную направлению ветра, причем удельное давление ветра принимается равным p.
        Определить необходимое расстояние АВ межу основаниями столбов.
    </h5>
{% endblock %}