{% extends 'app1/base.html' %}
{% load static %}

{% block title %}
<title>Задача 2.23</title>

{% endblock %}

{% block content %}
    <h1 class="title"><span>Задача 2.23</span></h1>
    <h5>
        Котел с равномерно распределенным по длине весом Р и радиуса R лежит на выступах каменной
        кладки. Расстояние между стенками кладки L. Пренебрегая трением, наити давление котла на кладку в точках А и В.
    </h5>
    <center>
      <img src="{% static 'app1/img/2.23.png' %}" >  
    </center>
    
    <div class="row">
        <div class="col-12">
          <form method="POST">
            {% csrf_token %}
                
            <label>Введите вес "P" в кН (максимальная точность 0.001):</label>
            <input type="number" name="P"  step="0.001" required/>
                  
            <label>Введите Расстояние между стенками кладки "L" в метрах (максимальная точность 0.001):</label>
            <input type="number" name="L"  step="0.001" required/>

            <label>Введите радиус "R" в метрах (максимальная точность 0.001):</label>
            <input type="number" name="R"  step="0.001" required/>

            <br><br>      
            <button type="submit" name="out" class="btn-primary col-5">Узнать ответ</button>
            <h3 style="display: inline;">{{out_r}}</h3>
             <br><br>      
            <label>Давление котла на кладку в точках А и В равны друг другу и равны следующему значению в кН: {{N}}</label>
            <br><br>
            
          </form>
        </div>
      </div>
      <br><br>
{% endblock %}