{% extends 'app1/base.html' %}



{% block title %}
Задача 12.1
{% endblock %}

{% block content %}
    <h1 class="title"><span>Задача 12.1</span></h1>
    <h5>Поезд движется со скоростью  V; при торможении он получает замедление, равное a. Найти, за какое
        время до прихода поезда на станцию и на каком от нее расстоянии
        должно быть начато торможение.</h5>
  <p>
    <div class="row">
      <div class="col-12">
        <form method="POST">
          {% csrf_token %}
           
          <label>Введите скорость "V" в км/ч (максимальная точность 0.001):</label>
          <input type="number" name="v" class="form-control" step="0.001"/>
                
          <label>Введите замедление "a" в м/c<sup>2</sup> (максимальная точность 0.001):</label>
          <input type="number" name="a" class="form-control" step="0.001"/>
          <br><br>      
          <button type="submit" name="out" class="btn-primary col-5">Узнать ответ</button>
           <br><br>      
          <label >Путь торможения в метрах:</label>
          <input type="text" value="{{way}}" class="form-control"/>
          <label>Время торможения в секундах:</label>
          <input type="text" value="{{time}}" class="form-control"/>  
            
             
        </form>
      </div>
    </div>
  </p>
        
        
{% endblock %}